version 25.4R1.12;
system {
    root-authentication {
        encrypted-password "$6$.tMirbxZ$/BIGvrB/JknHxubYMtQa38iuaAH4ii5mcD5Atjuh.ZDcmQYNIZRZEKsHNryMs/cGML5PqkWouWwL9TKA/l0cC/";
    }
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
}
protocols {
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
}
vlans {
    default {
        vlan-id 1;
    }
}
