version 25.4R1.12;
system {
    host-name core2;
    root-authentication {
        encrypted-password "$6$u5euyvtD$sZ/3nepPHURsVnl3tXEL1nl9dS1BvPcY9Y6BLevZ6Tqt3aOhi90ElaM7/39Bc6PXiNPSQj1Q9.klbhtssSC6N1"; ## SECRET-DATA
    }
    login {
        user mist {
            class super-user;
            authentication {
                encrypted-password "$6$T19llVKSIz0iuUsu$a4PgaV8NvkdipykCLUfp9LLL3OWWwrAFZOOZfI5OGXayHuQZOiuP8lr6KgtyoyF.OBKBaSOLXdTpKOEwQrDip/"; ## SECRET-DATA
                ssh-rsa "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC15wyjNZIVj78UbCH5PsYX04GIPWQ7d/ivONEIUd5QKB1HumWLeLlCqfC+kZqbP4mK+tK/fasOESlJGlgGCC5c1hISy293BETA3S27kXvE8jvwUJV/CF6jHUVtHuMe4pozll+9VsDKLHI2MKCezGuOVKPtWnnt7iQ4HhFiJnAZQtJIVtYWuq9EKHZi4wbwM5Z5fx0GQLzTgLMnf0LF+c6z1GCivt5uypCcMG9PqZXO/kcqUOvBGRmMbkFCYzyXDebedOa0H//S7vHSgcIC7TlSOQvq7u4817pa6+pYbTK2UZ+sl6FdI1f1FCraOB15ZaMkaWOvT6UerJgAesgw15ccBb1g2vnS0Kq/Zww9POs0I5XjsMzkPMuTn+Wy1ekmHCExzMArJuGqy5QJ4pftSf8D9/qD+/9/Cq1sQV56w+6gZvttl02UJdbk+jWE2BDYwARYQtg6XRjPSxAVnwGDdrksmo7xnA6LYsskzoYbnYx7Vu4jQP9MiRuNpbecm6Whg5c= mist@d2fe5cb2-d721-43c0-8a7d-22be2727d484"; ## SECRET-DATA
            }
        }
    }
    services {
        ssh {
            protocol-version v2;
        }
        outbound-ssh {
            client mist {
                device-id d2fe5cb2-d721-43c0-8a7d-22be2727d484;
                secret "$9$ZuUDkFn/0OR6/lKM8dVgoJZUHmPQn6AaZFn69pu-VbwoJZUjHmfxNikmP3n9Ap0EcrlM7dbuO7-Vwg4JGDjP5n/CB1hu0-Vs2GU.P5z9A0BIcreB1xNdV4oCtp0hSM8XN-wLXGDikTQevMLxdws4aGD2gaUHkTQcyrlLxVb24oGbwYoGU.mfTz3tu1IcyevhclMWX-dikqPFnCtuhylmfSrKv7Nk.mf36tuOEhru0Vwg4Djk.PQz6CtuB1hHqBIRhKvxNdV4ak.PQz6wYn/CA1Is2goaU.P5T36q.O1IRSyvWL7bsZUjiqmX7.P5Q9CtuOIEyvWLVb2BIclvWx7P5TQ9A0BISyK1IEyreXxjHkPFn69A"; ## SECRET-DATA
                keep-alive {
                    retry 12;
                    timeout 5;
                }
                services netconf;
                oc-term.eu.mist.com {
                    port 2200;
                    retry 1000;
                    timeout 60;
                }
            }
        }
    }
    arp {
        aging-timer 5;
    }
    authentication-order password;
    syslog {
        file interactive-commands {
            interactive-commands any;
        }
        file messages {
            any notice;
            authorization info;
        }
    }
    processes {
        dhcp-service {
            traceoptions {
                file dhcp_logfile size 10m;
                level all;
                flag packet;
            }
        }
    }
}
interfaces {
    fxp0 {
        unit 0 {
            family inet {
                dhcp {
                    vendor-id Juniper-ex9214-VM69723C405D;
                }
            }
            family inet6 {
                dhcpv6-client {
                    client-type stateful;
                    client-ia-type ia-na;
                    client-identifier duid-type duid-ll;
                    vendor-id Juniper:ex9214:VM69723C405D;
                }
            }
        }
    }
}
multi-chassis {
    mc-lag {
        consistency-check;
    }
}
protocols {
    router-advertisement {
        interface fxp0.0 {
            managed-configuration;
        }
    }
    lldp {
        interface all;
    }
    lldp-med {
        interface all;
    }
}